<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<script type="application/javascript">
    function sendRequest() {
        let i = 1;
        let product = document.getElementById(i.toString());
        let data = {};
        while (product) {
            data[parseInt(product.children.id.value)] = {
                'name': product.children.id_name.value,
                'price': parseFloat(product.children.id_price.value),
                'category': product.children.category.value,
                'in_fridge': product.children.in_fridge.checked,
            };
            i++;
            product = document.getElementById(i.toString());
        }
        axios.post('/add_to_fridge/', {
            'data': data
        })
            .then(function (response) {
                console.log(response)
            })
            .catch(function (error) {
                console.log(error)
            })
    }
</script>
<body>
<div class="container">
    <div class="col-12">
        {% for product in to_buy %}
            <div id="{{ forloop.counter }}">
                {{ product }}
            </div>
        {% endfor %}
        <button type="button" onclick="sendRequest()">
            Confirm
        </button>
    </div>
</div>
</body>
</html>
